.chat {
    display: flex;
    flex-direction: column;
    /* background-color: #fcf5f3; */
    padding: 0 1rem;
    /* height: 100%; */
}

.messages {
    display: flex;
    flex-direction: column;
    /* overflow-y: scroll; */
    flex: 0 0 35%;
}

.messages-full-height{
    flex: 0 0 100%;
}

.messages h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: 100;
}

.message{
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
    align-items: center;
    background-color: white;
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.chat img{
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.chat-user-name{
    font-weight: bold;
}

.active-chat{
    background-color: white;
    flex: 0 0 65%;
    height: 70vh;
}

.inactive-chat{
    display: none;
}

.chat-top{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem;
    background-color: #fecd5170;
    position: relative;
    flex:0 0 25%;
}

.chat-top span{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 1rem;
    cursor: pointer;
    font-size: 1.2rem;
}

.chat-centre{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0.5rem;
    height: 20.5rem;
    overflow-y: scroll;
}

.chat-msg{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.own-msg{
    align-self: flex-end;
}

.chat-msg p{
    font-size: 0.8rem;
}

.chat-msg span{
    font-size: 0.5rem;
    font-weight: bold;
    padding: 0.3rem;
    background-color: #fecd5170;
    border-radius: 5px;
    align-self: flex-start;
}

.chat-bottom{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 0.5rem;
    border-top: 1px solid #fecd5170;
    height: 3rem;
}

.chat-bottom input{
    flex: 1;
    padding: 0.5rem;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 0.8rem;
}

.chat-bottom button{
    padding: 0.5rem 1rem;
    background-color: #fecd51;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.8rem;
}

.chat-bottom button:hover{
    background-color: #fecd51a0;
}