/* Profile page */
.profile-page {
    display: flex;
    max-height: calc(100vh - 4rem);
    /* overflow-x: hidden; */
}

.user-info {
    overflow-y: scroll;
    padding-right: 1rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    flex: 0 0 60%;
    padding-bottom: 2rem;
}

.heading-user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.heading-user-info h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: 100;
}

.heading-user-info button {
    padding: 0.7rem 1rem;
    background-color: #fecd51;
    border: none;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 100;
    cursor: pointer;
}

.heading-user-info button:hover {
    background-color: #fecd51a0;
}

.user-details {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.buttons-profile {
    display: flex;
    gap: 1rem;
}

.buttons-profile> :first-child {
    background-color: teal;
    color: white;
}

.buttons-profile> :first-child:hover {
    background-color: rgba(0, 128, 128, 0.797);
}

.pfp {
    height: 6rem;
    width: 6rem;
    cursor: pointer;
    border-radius: 50%;
    object-fit: cover;
}

.user-details p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
}

.user-details span {
    font-weight: 400;
}

.property-list {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

/* Property list component */
.post {
    display: flex;
    gap: 1rem;
    height: 12rem;
    /* cursor: pointer; */
}

.img {
    flex: 0 0 35%;
    /* border: 1px solid; */
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 65%;
    padding: 0.2rem 0;
}

.details img {
    width: 1.5rem;
    height: 1.5rem;
}

.details h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    cursor: pointer;
}

.location {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 100;
    padding-bottom: 0.1rem;
}

.price span {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    line-height: 1.1rem;
    font-weight: 200;
    padding: 0.2rem;
    background-color: #fecd5170;
    border-radius: 5px;
}

.flex-details {
    display: flex;
    gap: 0.3rem;
    align-items: center;
}

.features {
    display: flex;
    gap: 2rem;
}

.bedroom,
.bath {
    padding: 0.2rem;
    background-color: #e2ddddd8;
    font-size: 0.7rem;
    border-radius: 5px;
}

.etc-features{
    margin-left: 2rem;
}

.etc {
    width: 50%;
    padding-right: 0.5rem;
    justify-content: flex-end;
    cursor: pointer;
}

/* Chat section */
.chat-side {
    flex: 0 0 40%;
    max-height: 91vh;
    background-color: #fcf5f3;
}


/* Update Profile Page CSS */
.update-profile {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    align-items: center;
    margin-top: 10%;

}

.update-profile form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.update-profile form input {
    padding: 0.5rem 1rem;
    border: 1px solid #e2dddd;
    border-radius: 5px;
}

.update-profile form button {
    padding: 0.5rem 1rem;
    background-color: #fecd51;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.update-profile form button:hover {
    background-color: #fecd51d4;
}

.update-profile img {
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    object-fit: cover;
}

.right-update {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.right-update button {
    padding: 0.5rem 1rem;
    background-color: #fecd51;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}