@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    font-family: 'Roboto', sans-serif;
    /* background-color: #f5f5f5; */
}

.container{
    margin: 0 auto;
    height: 100vh;
    padding:0 2rem;
}

a{
    text-decoration: none;
    color: #333;
    transition: all 0.4s ease;
}

a:hover{
    transform: scale(1.05);
}